* {
    box-sizing: border-box;
    }
    
    header {
        display: inline;
    }
    
    .header-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #93C6E7;
        position: sticky;
        top: 0;
    }

    .header-logo h1 {
        margin: 0; 
        color: white;
        padding-left: 20px;
    }

    nav a {
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        padding-left: 5px;
        color: white;
    }

    nav a:hover {
        color: #FFC0D9;
    }
    
    nav ul {
        padding-inline: 4rem;
        display: flex;
        gap: 2rem;
    }
    
    .nav-list {
        list-style: none;
        margin: 12px;
        padding: 20px;
        display: flex;
    }
    
    .nav-list li {
        padding-right: 15px;
    }

    body {
        font-family: 'Quicksand', sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #FF90BC;
    }

    main {
        padding: 20px;
        display: flex;
        gap: 1.5rem;
    }

    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 20px;
        margin: 0px 30px 10px 30px;
    }

    #content {
        flex: 5;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem 2rem;
    }

    footer {
        padding: 20px;
        color: white;
        background-color: #93C6E7;
        text-align: center;
        font-weight: bold;
    }

    .form {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        margin: 10px 0;
    }

    .form label {
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }

    .form input[type="text"], .form input[type="number"], .form input[type="date"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form button {
        background-color: #FF90BC;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
    }

    .form button:hover {
        background-color: #ffaa00; 
    }

    .daftar table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    }

    .daftar th, .daftar td {
        border: 1px solid #ccc;
        padding: 15px;
        text-align: left;
    }

    .daftar tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .daftar tr:nth-child(odd) {
        background-color: #fff;
    }

    @media screen and (max-width: 1200px) {
        main {
            flex-flow: column nowrap;
        }
    }
    
    @media screen and (max-width: 768px) {
        nav ul {
            justify-content: center;
        }
    }
